# ignore data folder
data/*

# ignore SC2Replay files
*.SC2Replay
*.zip

# ignore commit message
commit-message*

# ignore txt files
*.txt

# ignore workspace files
.vscode*

get_replays.py
classes/*

*.pyc
*.pkl
*.npy