# ignore data folder
data/*

# ignore ipynb_checkpoints
.ipynb_checkpoints

# ignore SC2Replay files
*.SC2Replay
*.zip

# ignore commit message
commit-message*

# ignore txt files
*.txt

# ignore workspace files
.vscode

get_replays.py
classes/*

# pickle, pyconfig, and numpy array files
*.pyc
*.pkl
*.npy

# research papers
CAEPIA2018_paper_247.pdf
paper_3.pdf
